<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.src.service.ServiceMapper">
    <select id="getServices" resultType="GetServiceRes">
        select * from Service where status = 'Y'
    </select>
</mapper>
